* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

/* 
- Default font size is 16px
- 16px 100%
- 10px  ?
= (10*100)/ 16 = 62.5%
- 62.5% is equal to 10px in most browsers. It is easir to calculate REM. */
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

/************** ABOUT *****************/
.progressBarsWrapper {
  margin-bottom: 10rem;
}

.skills {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 3rem;
  margin-bottom: 5rem;
}

/************** PROJECTS  *****************/
.section3 {
  width: 100%;
  height: 100%;
  padding: 5rem 0;
  background-color: #dde7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projectsWrapper {
  width: 80%;
  flex-wrap: wrap;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/************** CONTACT ME *****************/
.section4 {
  width: 100%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.section4Heading {
  box-shadow: none;
  margin-bottom: 0rem;
}

/************** FOOTER *****************/

/************** RESPONSIVE MEDIA QUERY START *****************/

@media (max-width: 1200px) {
  .section-1-heading {
    font-size: 3.2rem;
  }
  .skills {
    height: auto;
    flex-wrap: wrap;
  }

  .skill {
    margin: 3rem 2rem;
  }

  .section-4 {
    height: 80vh;
  }
}

@media (max-width: 800px) {
  .section-1-heading {
    font-size: 3.2rem;
  }

  .navbar {
    height: auto;
    flex-wrap: wrap;
    margin: 3rem 2rem;
  }

  .progress-bar {
    width: 40rem;
  }
}

@media (max-width: 600px) {
  .section-1-heading {
    font-size: 3rem;
  }

  .navbar-link {
    margin: 0 2rem;
    font-size: 1.5rem;
  }

  .section-2 {
    padding: 10rem;
  }

  .section-2-heading {
    margin-bottom: 10rem;
  }

  .progress-bar {
    width: 40rem;
  }

  .project-img {
    width: 90%;
  }

  .contact-form {
    width: 40rem;
  }
}

@media (max-width: 500px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 45%;
  }

  .section-1-heading {
    font-size: 2.5rem;
  }

  .navbar-link {
    margin: 0 1.5rem;
  }

  .section-2-heading {
    text-align: center;
  }

  .progress-bar {
    width: 40%;
  }
}
/************** RESPONSIVE MEDIA QUERY END *****************/
