/* Add all styling buttons 
- :active
- hover  */

.btn {
  cursor: pointer;
  transition: color 0.3s;
}
.primary {
  /* CSS inheritance  */
  composes: btn;
  font-weight: 700;
  letter-spacing: 0.3rem;
  border-radius: 0.4rem;
  font-size: 2rem;
  color: #333;
  background-color: #fff;
  border: 0.3rem solid #555;
  padding: 0.5rem 1rem;
  border-bottom: #4285f4 0.3rem solid;
}

.primary:hover, .secondary:hover {
  box-shadow: 1rem 1rem 1rem #777;
}

.btn:hover,
.navbar-link:hover {
  color: #333;
  transition: 0.3s;
  background: #f4b400;
}

.btn:hover .project-text {
  top: 5rem;
  transition: top 0.3s 0.3s;
}

.secondary {
  composes: btn;
  font-size: 1.7rem;
  font-weight: 600;
  margin: 0 3rem;
  padding: 0 2rem;
  letter-spacing: 0.4rem;
  color: #4285f4;
  background: #fff;
  border-radius: 0.5rem;
  position: relative;
}

.tertiary {
  composes: btn;
  color: #4285f4;
  background-color: #fff;
  font-size: 1.8rem;
  transition: color 0.3s;
  font-weight: 600;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  cursor: pointer;

  width: 100%;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  border: 0.2rem solid #f4b400;
  padding: 1rem;
  border-radius: 0.5rem;
}
