.section5 {
  width: 100%;
  height: 30vh;
  background-color: #dde7f7;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center {

}

.socialMedia {
  margin-bottom: 2rem;
}

.socialMediaLink {
  font-size: 3rem;
  color: #4285f4;
  margin: 0 2rem;
  padding: 0.7rem;
  border-radius: 0.5rem;
  display: inline-block;
}

.copyright {
  color: #333;
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  font-weight: 300;
  text-align: center;
}
