.card {
  position: relative;
}

.card img {
  width: 100%;
  display: block;
  border: 2px solid #fff;
  border-radius: 6px;
}

/* Original state of card when they don't have flipped card applied  */
.card .front {
  /* initally, hide it by rotating Y axis  */
  transform: rotateY(90deg);
  /* Absolute means it will sit on top of the card . It cannot be relative */
  position: absolute;
  transition: all ease-in 0.2s;
}

.flipped .front {
  transform: rotateY(0deg);
  transition-delay: 0.2s;
}

/* Plain cover - back of card */
.card .back {
  transition: all ease-in 0.2s;
  transition-delay: 0.2s;
}

.flipped .back {
  transform: rotateY(90deg);
  transition-delay: 0s;
}